@using m12SystemsPortfolio.Client.Models
@rendermode InteractiveWebAssembly

<MudCard Style="border-block:solid; border-block-color:aqua ">
    <MudCardContent>
        <span class="span-workitem-hdr">@WRKItem.Id - @WRKItem.Skill</span><br/>
        <MudTextField T="string" Label="Multiline" Variant="Variant.Text" Text="@WRKItem.Description" Lines="5" />
      
    </MudCardContent>
</MudCard>

@code {
    private SkillItem _WrkItem;

    [Parameter]
    public SkillItem WRKItem   // property
    {
        get { return _WrkItem; }
        set { _WrkItem = value; }
    }


 public SkillItemComponent()
 {
        _WrkItem = new SkillItem
        {
            Id = 1,
            Skill = "Unknown",
            
            Description = ""
            
        };
 }

}
<style>
    .span-workitem-hdr {
        color: black;
        background-color: aqua;
    }

    .span-workitem {
        color: var(--mud-palette-primary) !important;
    }
</style>