@page "/skills"
@using m12SystemsPortfolio.Client.Components
@using m12SystemsPortfolio.Client.Models
@rendermode InteractiveWebAssembly

<h3>Skills</h3>
@foreach (var salesOrderLine in _WorkHistory)
  {
    <SkillItemComponent WrkItem=@salesOrderLine />
    <br/>
  }

@code {
    protected List<SkillItem> _WorkHistory = new List<SkillItem>();

    public Skills()
    {
        _WorkHistory.Add(new m12SystemsPortfolio.Client.Models.SkillItem
            {
                Id = 1,
                Skill = "Angular (Ng)",
                Description = "I started with Angular 1.x, and procedded too version 2 then 16, I am currently Learning 17",      
            });

        _WorkHistory.Add(new m12SystemsPortfolio.Client.Models.SkillItem
            {
                Id = 2,
                Skill = "Microsoft Blazor",
                Description = "I started with version 3, and currenly working with version 8",
            });
    }
}
